body{
    margin: 30px;
    font-family: 'Raleway';
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
}

h5{
    font-size: 16px;
    font-weight: bold;
    line-height: 175%;
}

p{
    font-size: 16px;
    line-height: 175%;
    grid-row: 2/span 1;
    grid-column: 1/span 1;
}

.extrapad{
    padding-top: 20px;
}

.center{
    text-align: center;
}

.title{
    text-align: center;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
}

.container{
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr 1fr;
    line-height: 200%;
    grid-row-gap: 20px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    grid-row: 0/span 4;
    grid-column: 1/span 3;
}

.logo{
    text-align: center;
}

.logoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav_links{
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: green;
}

.active{
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

#headshot{
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    padding-bottom: 20px;
}

.education{
    grid-row: 3/span 1;
    grid-column: 1/span 2;
}

.experience{
    grid-row: 4/span 1;
    grid-column: 1/span 2;
}

.extra{
    grid-row: 5/span 1;
    grid-column: 1/span 2;
}

.relevantcourses{
    grid-row: 6/span 1;
    grid-column: 1/span 2;
}

.skills{
    grid-row:7/span 1;
    grid-column: 1/span 1;
}

.column2{
    grid-row:7/span 1;
    grid-column: 1/span 2;
}
.companyimg{
    padding-top: 20px;
}

.role{
    padding: 10px 0px;
    text-align: left;
}

.mconnect{
    grid-row: 3/span 1;
    grid-column: 1/span 2;
}

.searchconnect{
    grid-row: 4/span 1;
    grid-column: 1/span 2;
}

.dayof{
    grid-row: 5/span 1;
    grid-column: 1/span 2;
}

.swipe{
    grid-row: 6/span 1;
    grid-column: 1/span 2;
}

.kirthi{
    grid-row: 7/span 1;
    grid-column: 1/span 2;
}

.ninedine{
    grid-row: 8/span 1;
    grid-column: 1/span 2;
}

.bigmo{
    grid-row: 9/span 1;
    grid-column: 1/span 2;
}

.julyfour{
    grid-row: 10/span 1;
    grid-column: 1/span 2;
}

.promo{
    grid-row: 11/span 1;
    grid-column: 1/span 2;
}

footer{
    padding-top: 50px;
}

.button{
    padding: 5px;
    border: solid black 1px;
    width: 30%;
    text-align: center;
}

.column2{
    grid-column: 2;
}